@import "./stock/variable.scss";

:root {
  --color-white: #fff;
  --time-animation: .6s;
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0px);
  }
}
html {
  scrollbar-width: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.toggle img{
  height: 8vh;
  width: 4vw;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15%;
  left: 10%;
  width: 250px;
  transform: translate(-50%, -50%);
  transition: background-color 0.5s;
  transition-delay: 0.3s;
  border-radius: 50%;
  z-index: 100000;
}
.menu.active{
  background-color: rgb(0, 0, 0);
}
li {
  list-style: none;
}
ion-icon {
  background-color: white;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 50%;
  transition: background-color 250ms linear;
  box-shadow: 0px 0px 16px -3px #000000;
}
.menu .toggle {
  transition: transform 0.75s linear, background-color 250ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.menu .toggle.active {
  transform: rotate(605deg);
}
.menu .icon {
  position: absolute;
  transition: 0.75s ease-out;
  transform-origin: 125px;
  transform: rotate(0deg) translateX(125px) translateX(-50%);
  left: 0;
  transition-delay: calc(var(--i) * 0.1s);
}
.menu .icon.active {
  transform: rotate(calc(var(--i) * 110deg));
}
.menu .icon.active ion-icon {
  z-index: 1001;
}

.menu .toggle ion-icon:hover {
  background-color: rgba(0, 0, 0, 0.541);
}
.menu .icon.active ion-icon:hover {
  background-color: rgba(0, 0, 0, 0.322);
}
#pic_1 {
  background-color: #4d6652;
}

#pic_2 {
  background-color: #4d6652cc;
}

#pic_3 {
  background-color: #4d6652a2;
}

#pic_4 {
  background-color: #4d665280;
}

.para {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.para section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include disp3;
  text-align: center;
  color: var(--color-white);
  transform: translateY(100vh);
  transition: all var(--time-animation) ease-in-out;
  z-index: 1;
}

/*** RESPONSIVE ***/
/* MOBILE */


.border {
  border-radius: 5%;
  width: 40vw;
  height: auto;
}

.textbtn {
  @include disp3;
  flex-direction: column;
}

input {
  border: none;
  background: rgb(131, 124, 133);
  outline: none;
}

.stylebtn {
  background: white;
  width: 10vw;
  height: 7vh;
  border-radius: 15px;
  font-size: 25px;
}

.para .s1 {
  transform: translateY(0);
  z-index: 1000;
}

.para .s2 {
  z-index: 6;
}

.para .s3 {
  z-index: 5;
}

.para .s4 {
  z-index: 4;
}

.para .s5 {
  z-index: 3;
}

.para .s6 {
  z-index: 2;
}

.dispo {
  @include disp2;
  flex-direction: column;
  justify-content: space-around;
  height: 3vh;
}

.poney {
  margin-top: 2.5vh;
}

/** image effect start  **/
/*
.containere{
   grid-area: 1 / 4 / 4 / 6;
   margin-right: 4vw;
   width: 50%;
}

.containere h1{
  font-size: 0.2em;
  color: rgb(0, 0, 0);
}
.containere a{
  margin: 5px;
  text-decoration: none;
}
// Mr kangourou IDs de survie côté gauche écriture et gauche aussi  , (a - p) 
.containere a p{
  font-size: 1.5em;
  color: white;
}
#bouddha {
  background-image: url(../img/img_country/forêts.jpg);
  background-size: cover;
  height: 700px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#bouddhaa {
  background-image: url(../img/imgbg/16.jpg);
  background-size: cover;
  height: 700px;
  opacity: 0.7;
  width: 600px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#bouddhaa:hover{
  background-image: url(../img/img_log/106830.jpg);
}
#bouddhaaa {
  background-image: url(../img/imgbg/22.jpg);
  background-size: cover;
  height: 700px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#bouddhaaaa {
  background-image: url(../img/imgbg/36.jpg);
  background-size: cover;
  height: 700px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#bouddha p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}
#bouddhaa p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}
#bouddhaaa p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}
#bouddhaaaa p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}
#bouddha h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}
#bouddhaa h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}
#bouddhaaa h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}
#bouddhaaaa h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}
#bouddha:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

#bouddhaa:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
#bouddhaaa:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
#bouddhaaaa:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
#bouddha:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
#bouddhaa:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
#bouddhaaa:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
#bouddhaaaa:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}*/
a {
  text-decoration: none;
  color: white;
}

/*aventurier 1*/
//sec1
#pic_1,
#pic_2,
#pic_3,
#pic_4{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}
.av1{
  grid-area: 2 / 3 / 3 / 4;
}
.av2{
  grid-area: 2 / 3 / 3 / 4;
}
.av3{
  grid-area: 2 / 3 / 3 / 4;
}
.av4{
  grid-area: 2 / 3 / 3 / 4;
}
.ttl,
.ttl2,
.ttl3,
.ttl4 {
  display: block;
  font-size: 2em;
  z-index: 99;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 200;
  text-shadow: 5px 5px 4px black;
  letter-spacing: 5px;
  font-family: Dancing Script, cursive;
  cursor: pointer;
}
.ttl::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}
.ttl2::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}
.ttl3::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}
.ttl4::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}
.av {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  a {
    color: #fff;
  }
}
.avs {
  top: -5vh;
  z-index: 1;
}
.clicked {
  opacity: 1;
  transition: 1.2s all ease;
  transform: translateY(56px);
}
.st,
.nd,
.rd,
.th,
.fi,
.st2,
.nd2,
.rd2,
.th2,
.fi2,
.st3,
.nd3,
.rd3,
.th3,
.fi3,
.st4,
.nd4,
.rd4,
.th4,
.fi4 {
  transition: 1s ease;
}
.pop,
.popnd,
.poprd,
.popth,
.popfi,
.pop2,
.popnd2,
.poprd2,
.popth2,
.popfi2,
.pop3,
.popnd3,
.poprd3,
.popth3,
.popfi3,
.pop4,
.popnd4,
.poprd4,
.popth4,
.popfi4 {
  visibility: hidden;
  cursor: pointer;
  width: 20vw;
  height: auto;
}

/*julien moi loni ne touche pas sil te plait merci.*/
.supergrille {
  margin: 0 -10px -10px auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  color: red;
  filter: brightness(100%);
  justify-content: center;
}

.articlee {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 30%;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 100%, .08);
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .31373);
  margin: 15px;

  background-color: rgba(0, 0, 0, 0.171);
}

.articlee p {
  overflow: hidden;
}

.retour {
  display: flex;
  justify-content: start;
}


/* LE FORMULAIRE BY DYLAN LA MERDE , DEBUT */

.content {
  flex-direction: column;
  display: flex;
  position: absolute;
  justify-content: center;
  border: 1px chartreuse solid;
  border-radius: 15% 15% 0% 0%;
  background-color: rgba(169, 169, 169, 0.158);
  padding: 2vh;
  width: 20%;
  height: 50%;
  top: 20%;
  left: 37%;

}

.mail {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  margin-bottom: 2vh;
  position: relative;
  width: 50%;
  left: 25%;
  color: chartreuse;
}

.titre {
  height: 2.5vh;
  background-color: rgb(255, 255, 255);
  border: grey 1px solid;
  width: 70%;
  position: relative;
  margin-bottom: 2vh;
  left: 15%;
}

.textarea {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 2vh;
  color: chartreuse;

}

.proute {
  position: absolute;
  width: 10%;
  bottom: 39.8vh;
  left: 6%;
}

.textarea-con {
  min-width: 97.6%;
  max-width: 97.6%;
  max-height: 40%;
  min-height: 40%;

}

.plume {
  position: absolute;
  height: 37%;
  opacity: 0.2;
  left: 53.5%;
  top: 41.2%;


}

.envoie {
  margin-top: 4vh;
  width: 30%;
  height: 6%;
  color: white;
  position: relative;
  left: 35%;
  border: 1px chartreuse solid;
  cursor: pointer;
  transition: 0.8s ease;
}

.envoie:hover {
  color: chocolate;
  background-color: chartreuse;
  border: gray 1px solid;
  border-radius: 20% 0% 20% 0%;
}

label::first-letter {
  color: chocolate;
  font-size: 1.5em;
  font-weight: lighter;
}

.textarea-con:focus {
  outline: solid chocolate 2px;
}

/* FIN DU FORMULAIRE */