@charset "UTF-8";
/*Variable*/
/*Mixin*/
:root {
  --color-white: #fff;
  --time-animation: .6s;
}

@-webkit-keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
html {
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#pic_1 {
  background-color: #4d6652;
}

#pic_2 {
  background-color: #4d6652cc;
}

#pic_3 {
  background-color: #4d6652a2;
}

#pic_4 {
  background-color: #4d665280;
}

/*
.para {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.para section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include disp3;
  text-align: center;
  color: var(--color-white);
  transform: translateY(100vh);
  transition: all var(--time-animation) ease-in-out;
  z-index: 1;
}*/
/*** RESPONSIVE ***/
/* MOBILE */
@media screen and (max-width: 700px) {
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .para section {
    font-size: 40px;
  }
}
.border {
  border-radius: 5%;
  width: 40vw;
  height: auto;
}

.textbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border: none;
  background: #837c85;
  outline: none;
}

.stylebtn {
  background: white;
  width: 10vw;
  height: 7vh;
  border-radius: 15px;
  font-size: 25px;
}

.para .s1 {
  transform: translateY(0);
  z-index: 1000;
}

.para .s2 {
  z-index: 6;
}

.para .s3 {
  z-index: 5;
}

.para .s4 {
  z-index: 4;
}

.para .s5 {
  z-index: 3;
}

.para .s6 {
  z-index: 2;
}

.dispo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 3vh;
}

.nav {
  float: left;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  box-shadow: 0 5px 10px 2px;
}

nav::before, nav::after {
  content: "";
  background: grey;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  transition: 0.2 ease;
}

nav::before {
  transform: rotate(0deg);
}

nav::after {
  transform: rotate(-90deg);
}

.poney {
  margin-top: 2.5vh;
}

/** image effect start  **/
#pic_1, #pic_2 {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr 1fr;
}

.containere {
  grid-area: 1/4/4/6;
  margin-left: 4vw;
}

.containere h1 {
  font-size: 0.2em;
  color: black;
}

.containere a {
  margin: 5px;
  text-decoration: none;
}

/* Mr kangourou IDs de survie côté gauche écriture et gauche aussi  , (a - p) */
.containere a p {
  font-size: 1.5em;
  color: white;
}

#bouddha {
  background-image: url(../img/img_country/forêts.jpg);
  background-size: cover;
  height: 700px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bouddhaa {
  background-image: url(../img/imgbg/16.jpg);
  background-size: cover;
  height: 700px;
  opacity: 0.7;
  width: 600px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bouddhaa:hover {
  background-image: url(../img/img_log/106830.jpg);
}

#bouddhaaa {
  background-image: url(../img/imgbg/22.jpg);
  background-size: cover;
  height: 700px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bouddhaaaa {
  background-image: url(../img/imgbg/36.jpg);
  background-size: cover;
  height: 700px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bouddha p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}

#bouddhaa p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}

#bouddhaaa p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}

#bouddhaaaa p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}

#bouddha h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}

#bouddhaa h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}

#bouddhaaa h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}

#bouddhaaaa h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}

#bouddha:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

#bouddhaa:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

#bouddhaaa:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

#bouddhaaaa:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

#bouddha:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#bouddhaa:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#bouddhaaa:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#bouddhaaaa:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

a {
  text-decoration: none;
  color: white;
}

/*aventurier 1*/
.av1 {
  grid-area: 2/3/3/4;
}

.ttl, .ttl2 {
  display: block;
  font-size: 2em;
  z-index: 99;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 200;
  text-shadow: 5px 5px 4px black;
  letter-spacing: 5px;
  font-family: Dancing Script, cursive;
  cursor: pointer;
}

.ttl::-moz-selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.av {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}
.av a {
  color: #fff;
}

.avs {
  top: -5vh;
  z-index: 1;
}

.clicked {
  opacity: 1;
  transition: 1.2s all ease;
  transform: translateY(56px);
}

.st, .nd, .rd, .th {
  transition: 1s ease;
}

.pop, .popnd, .poprd, .popth {
  visibility: hidden;
  cursor: pointer;
  width: 20vw;
  height: auto;
}

.av2 {
  grid-area: 2/3/3/4;
}

.st2, .nd2, .rd2, .th2, .fi2 {
  transition: 1s ease;
}

.pop2, .popnd2, .poprd2, .popth2, .popfi2 {
  visibility: hidden;
  cursor: pointer;
}

/*julien moi loni ne touche pas sil te plait merci.*/
.supergrille {
  margin: 0 -10px -10px auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(10, 10, 10, 0.78039);
  filter: brightness(100%);
  justify-content: center;
}

.articlee {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 30%;
  cursor: pointer;
  transition: all 0.15s;
  border: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.31373);
  margin: 15px;
  border: 1px black ridge;
  background-color: rgba(0, 0, 0, 0.171);
}

.articlee p {
  overflow: hidden;
}

/* LE FORMULAIRE BY DYLAN LA MERDE , DEBUT */
.content {
  flex-direction: column;
  display: flex;
  position: absolute;
  justify-content: center;
  border: 1px chartreuse solid;
  border-radius: 15% 15% 0% 0%;
  background-color: rgba(169, 169, 169, 0.158);
  padding: 2vh;
  width: 20%;
  height: 50%;
  top: 20%;
  left: 37%;
}

.mail {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  margin-bottom: 2vh;
  position: relative;
  width: 50%;
  left: 25%;
  color: chartreuse;
}

.titre {
  height: 2.5vh;
  background-color: white;
  border: grey 1px solid;
  width: 70%;
  position: relative;
  margin-bottom: 2vh;
  left: 15%;
}

.textarea {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 2vh;
  color: chartreuse;
}

.proute {
  position: absolute;
  width: 10%;
  bottom: 39.8vh;
  left: 6%;
}

.textarea-con {
  min-width: 97.6%;
  max-width: 97.6%;
  max-height: 40%;
  min-height: 40%;
}

.plume {
  position: absolute;
  height: 37%;
  opacity: 0.2;
  left: 53.5%;
  top: 41.2%;
}

.envoie {
  margin-top: 4vh;
  width: 30%;
  height: 6%;
  color: white;
  position: relative;
  left: 35%;
  border: 1px chartreuse solid;
  cursor: pointer;
  transition: 0.8s ease;
}

.envoie:hover {
  color: chocolate;
  background-color: chartreuse;
  border: gray 1px solid;
  border-radius: 20% 0% 20% 0%;
}

label::first-letter {
  color: chocolate;
  font-size: 1.5em;
  font-weight: lighter;
}

.textarea-con:focus {
  outline: solid chocolate 2px;
}

/* FIN DU FORMULAIRE *//*# sourceMappingURL=index.css.map */