/*Variable*/
/*Mixin*/
html {
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

#menud {
  /* background-color:rgb(8,196,93); */
  margin: 0 auto;
  color: black;
  border-radius: 10px;
  font-size: 0.85em;
  text-align: center;
  z-index: 5;
  align-items: center;
  position: fixed;
}

#div1 {
  position: absolute;
  font-family: "Museo";
  width: 10vw;
  border-radius: 10px;
  padding: 0.5em;
  overflow: hidden;
  height: 3vh;
  cursor: pointer;
}
.imgg{
  height: 2vh;
  width:2vw;
 
}
@keyframes spin {
  100% {
    transform: rotateX(360deg);
  }
}

.imgg:hover {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
#div1:hover,
#div1:hover {
  background-color: rgba(38, 38, 40, 0.205);
  color: white;
  transition: background 0.5s ease, color 0.5s ease;
}

#div1:active,
#div1:hover {
  height: 6.7em;
  transition: height 0.3s ease;
  z-index: 3;
}

#menud h4 {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0.5em 0;
}

#menud img {
  width: 80%;
}

#menud ul {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  list-style: none;
  padding-left: 0.4em;
}
#menud li {
  border-bottom: 1px black ridge;
}
.para {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

.para section {
  scroll-snap-align: start;
}

.para .sec {
  position: relative;
  width: 100%;
  height: 100%;
}

.para .sec:nth-child(3) {
  background-color: #326643;
}

.para .sec:nth-child(4) {
  background-color: rgba(50, 102, 67, 0.9);
  overflow: hidden;
}

.para .sec:nth-child(5) {
  background-color: rgba(50, 102, 67, 0.8);
}

.para .sec:nth-child(6) {
  background-color: rgba(50, 102, 67, 0.7);
}

.aventuriers {
  display: none;
}

/*** RESPONSIVE ***/
/* MOBILE */
@media screen and (max-width: 700px) {
  #div1 {
    position: absolute;
    font-family: "Museo";
    width: 20vw;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  #div1:focus,
#div1:hover {
    background-color: rgba(0, 0, 0, 0.205);
    color: black;
    transition: background 0.5s ease, color 0.5s ease;
  }

  #div1:active,
#div1:focus {
    height: 15vh;
    z-index: 3;
    width: 20vw;
  }

  .border {
    border-radius: 5%;
    width: 40vw;
    height: auto;
  }

  .textbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input {
    border: none;
    background: #837c85;
    outline: none;
  }

  .stylebtn {
    background: white;
    width: 10vw;
    height: 7vh;
    border-radius: 15px;
    font-size: 25px;
  }

  .dispo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 3vh;
  }

  .poney {
    margin-top: 2.5vh;
  }

  .para {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    height: 100vh;
  }

  #pic_1,
#pic_2,
#pic_3,
#pic_4 {
    background-color: rgba(50, 102, 67, 0.7);
  }

  .ttl,
.ttl2,
.ttl3,
.ttl4 {
    display: none;
  }

  .st,
.nd,
.rd,
.th,
.fi,
.st2,
.nd2,
.rd2,
.th2,
.fi2,
.st3,
.nd3,
.rd3,
.th3,
.fi3,
.st4,
.nd4,
.rd4,
.th4,
.fi4 {
    display: none;
  }

  .pop,
.popnd,
.poprd,
.popth,
.popfi,
.pop2,
.popnd2,
.poprd2,
.popth2,
.popfi2,
.pop3,
.popnd3,
.poprd3,
.popth3,
.popfi3,
.pop4,
.popnd4,
.poprd4,
.popth4,
.popfi4 {
    display: none;
  }

  .av {
    display: none;
  }

  .aventuriers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: rgba(50, 102, 67, 0.7);
  }
}
a {
  text-decoration: none;
  color: white;
}

/*aventurier 1*/
#pic_1,
#pic_2,
#pic_3,
#pic_4 {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr 1fr;
}

.av1 {
  grid-area: 2/3/3/4;
  text-align: center;
  margin-top: 14vh;
}

.av2 {
  grid-area: 2/3/3/4;
  text-align: center;
  margin-top: 14vh;
}

.av3 {
  grid-area: 2/3/3/4;
  text-align: center;
  margin-top: 14vh;
}

.av4 {
  grid-area: 2/3/3/4;
  text-align: center;
  margin-top: 14vh;
}

.ttl,
.ttl2,
.ttl3,
.ttl4 {
  font-size: 2em;
  z-index: 99;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 200;
  text-shadow: 5px 5px 4px black;
  letter-spacing: 5px;
  font-family: "Dancing Script", cursive;
  cursor: pointer;
}

.ttl::-moz-selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl2::-moz-selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl2::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl3::-moz-selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl3::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl4::-moz-selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.ttl4::selection {
  color: black;
  text-shadow: 5px 5px 4px white;
}

.av {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}
.av a {
  color: #fff;
}

.avs {
  top: -5vh;
  z-index: 1;
}

.clicked {
  opacity: 1;
  transition: 1.2s all ease;
  transform: translateY(56px);
}

.st,
.nd,
.rd,
.th,
.fi,
.st2,
.nd2,
.rd2,
.th2,
.fi2,
.st3,
.nd3,
.rd3,
.th3,
.fi3,
.st4,
.nd4,
.rd4,
.th4,
.fi4 {
  transition: 1s ease;
}

.pop,
.popnd,
.poprd,
.popth,
.popfi,
.pop2,
.popnd2,
.poprd2,
.popth2,
.popfi2,
.pop3,
.popnd3,
.poprd3,
.popth3,
.popfi3,
.pop4,
.popnd4,
.poprd4,
.popth4,
.popfi4 {
  visibility: hidden;
  cursor: pointer;
  padding: 1vw;
  letter-spacing: 2px;
}

/*julien moi loni ne touche pas sil te plait merci. page envoief.php*/
.supergrille {
  margin: 0 -10px -10px auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  color: red;
  filter: brightness(100%);
  justify-content: center;
}

.articlee {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.31373);
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.171);
}

.articlee p {
  overflow: hidden;
}

.retour {
  display: flex;
  justify-content: start;
}

/* LE FORMULAIRE BY DYLAN LA MERDE , DEBUT */
.content {
  flex-direction: column;
  display: flex;
  position: absolute;
  justify-content: center;
  border: 1px chartreuse solid;
  border-radius: 15% 15% 0% 0%;
  background-color: rgba(169, 169, 169, 0.158);
  padding: 2vh;
  width: 20%;
  height: 50%;
  top: 20%;
  left: 37%;
}

.mail {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  margin-bottom: 2vh;
  position: relative;
  width: 50%;
  left: 25%;
  color: chartreuse;
}

.titre {
  height: 2.5vh;
  background-color: white;
  border: grey 1px solid;
  width: 70%;
  position: relative;
  margin-bottom: 2vh;
  left: 15%;
}

.textarea {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 2vh;
  color: chartreuse;
}

.proute {
  position: absolute;
  width: 10%;
  bottom: 39.8vh;
  left: 6%;
}

.textarea-con {
  min-width: 97.6%;
  max-width: 97.6%;
  max-height: 40%;
  min-height: 40%;
}

.plume {
  position: absolute;
  height: 37%;
  opacity: 0.2;
  left: 53.5%;
  top: 41.2%;
}

.envoie {
  margin-top: 4vh;
  width: 30%;
  height: 6%;
  color: white;
  position: relative;
  left: 35%;
  border: 1px chartreuse solid;
  cursor: pointer;
  transition: 0.8s ease;
}

.envoie:hover {
  color: chocolate;
  background-color: chartreuse;
  border: gray 1px solid;
  border-radius: 20% 0% 20% 0%;
}

label::first-letter {
  color: chocolate;
  font-size: 1.5em;
  font-weight: lighter;
}

.textarea-con:focus {
  outline: solid chocolate 2px;
}

/* FIN DU FORMULAIRE *//*# sourceMappingURL=index.css.map */