@charset "UTF-8";
/*Variable*/
/*Mixin*/
:root {
  --color-white: #fff;
  --time-animation: 0.6s;
}

@-webkit-keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
html {
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#pic_1 {
  background-image: url(../img/img_country/amazonie.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#pic_2 {
  background-image: url(../img/img_log/224557.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#pic_3 {
  background-image: url(../img/img_log/659797.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#pic_4 {
  background-image: url(../img/img_log/783437.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.para {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.para section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  transform: translateY(100vh);
  transition: all var(--time-animation) ease-in-out;
  z-index: 1;
}

.border {
  border-radius: 5%;
  width: 40vw;
  height: auto;
}

.textbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border: none;
  background: #837c85;
  outline: none;
}

.stylebtn {
  background: white;
  width: 10vw;
  height: 7vh;
  border-radius: 15px;
  font-size: 25px;
}

.para .s1 {
  transform: translateY(0);
  z-index: 1000;
}

.para .s2 {
  z-index: 6;
}

.para .s3 {
  z-index: 5;
}

.para .s4 {
  z-index: 4;
}

.para .s5 {
  z-index: 3;
}

.para .s6 {
  z-index: 2;
}

.dispo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 3vh;
}

.title {
  font-size: 70px;
}

.nav {
  position: fixed;
  left: -90px;
  top: 40%;
  z-index: 1001;
  border: 2px solid black;
  width: 5vw;
  height: 22vh;
  border-radius: 0 20px 20px 0;
  overflow-x: hidden;
  background: black;
  color: white;
  transition: 1s ease-in-out;
}

.nav:hover {
  transform: translateX(92px);
}

.poney {
  margin-top: 2.5vh;
}

/** image effect start  **/
.containere {
  position: fixed;
  right: -50px;
}

.containere h1 {
  font-size: 0.2em;
  color: black;
}

.containere a {
  margin: 5px;
  text-decoration: none;
}

/* Mr kangourou IDs de survie côté gauche écriture et gauche aussi  , (a - p) */
.containere a p {
  font-size: 1.5em;
  color: white;
}

#bouddha {
  background-image: url(../img/img_country/forêts.jpg);
  background-size: cover;
  height: 800px;
  width: 650px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bouddha p {
  transform: translate(3px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 1s;
  background-color: rgba(255, 255, 255, 0);
}

#bouddha h1 {
  color: white;
  text-shadow: #aaa 1px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  opacity: 1;
  transition: 1s ease;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 1em;
}

#bouddha:hover p {
  transform: translate(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

#bouddha:hover h1 {
  color: rgba(0, 0, 0, 0);
  text-shadow: #aaa 1px 0 10px;
  background-color: rgba(0, 0, 0, 0.568);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

a {
  text-decoration: none;
  color: white;
}

/*Arrow top*/
avow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow, .arrow_left, .arrow_bot, .arrow_right {
  position: relative;
  background: #88b7d5;
}

.arrow:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 30px;
  margin-left: -30px;
  border-bottom-color: #88b7d5;
}

/*Arrow bot*/
.arrow_bot:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 30px;
  border-top-color: #88b7d5;
  margin-left: -30px;
}

/*Arrow left*/
.arrow_left:after {
  right: 100%;
  top: -3.5vh;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 30px;
  margin-top: -30px;
  border-right-color: #88b7d5;
}

/*Arrow right*/
.arrow_right:after {
  left: 100%;
  top: -3.5vh;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 30px;
  border-left-color: #88b7d5;
  margin-top: -30px;
}

.a_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25vw;
}

/*end arrow*/
/*
.animaux{
    border: 2px solid white;
    width: 35vw;
    height: 20vh;
    position: relative;
    left: -20vw;
    font-size: 50px;
}
*/
/*** RESPONSIVE ***/
/* MOBILE */
@media screen and (max-width: 576px) {
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    -webkit-appearance: none;
  }

  .para .section-stick {
    right: 20px;
    bottom: 20px;
    transform: scale(0.7);
  }

  .para section {
    font-size: 40px;
  }
}
/*julien moi loni ne touche pas sil te plait merci.*/
.supergrille {
  display: flex;
  flex-wrap: wrap;
}

.articlee {
  margin: 15px;
  border: 1px black ridge;
  background-color: rgba(0, 0, 0, 0.171);
}

/* LE FORMULAIRE BY DYLAN LA MERDE , DEBUT */
.content {
  flex-direction: column;
  display: flex;
  position: absolute;
  justify-content: center;
  border: 1px chartreuse solid;
  border-radius: 15% 15% 0% 0%;
  background-color: rgba(169, 169, 169, 0.158);
  padding: 2vh;
  width: 20%;
  height: 50%;
  top: 20%;
  left: 37%;
}

.mail {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  margin-bottom: 2vh;
  position: relative;
  width: 50%;
  left: 25%;
  color: chartreuse;
}

.titre {
  height: 2.5vh;
  background-color: white;
  border: grey 1px solid;
  width: 70%;
  position: relative;
  margin-bottom: 2vh;
  left: 15%;
}

.textarea {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 2vh;
  color: chartreuse;
}

.proute {
  position: absolute;
  width: 10%;
  bottom: 39.8vh;
  left: 6%;
}

.textarea-con {
  min-width: 97.6%;
  max-width: 97.6%;
  max-height: 40%;
  min-height: 40%;
}

.plume {
  position: absolute;
  height: 37%;
  opacity: 0.2;
  left: 53.5%;
  top: 41.2%;
}

.envoie {
  margin-top: 4vh;
  width: 30%;
  height: 6%;
  color: white;
  position: relative;
  left: 35%;
  border: 1px chartreuse solid;
  cursor: pointer;
  transition: 0.8s ease;
}

.envoie:hover {
  color: chocolate;
  background-color: chartreuse;
  border: gray 1px solid;
  border-radius: 20% 0% 20% 0%;
}

label::first-letter {
  color: chocolate;
  font-size: 1.5em;
  font-weight: lighter;
}

.textarea-con:focus {
  outline: solid chocolate 2px;
}

/* FIN DU FORMULAIRE *//*# sourceMappingURL=index.css.map */