html,body{
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  overflow: hidden;
  background: url(../img/106830.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1000;
  /*backdrop-filter: blur(10px);*/
}
*{
margin: 0;
}

.labin{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 47vh;

}
.zindex{
width: 33%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: transparent;
width: 30%;
z-index: 2;
}
input{
  border: none;
  background: white;
  opacity: 0.5;
  height: 5vh;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  text-align: center;
  display: inline-block;
}
.inpdec{
  position: relative;
}
.inpdec i{
  position: absolute;
  left: 1vw;
  top: 1vh;
  size: 20px;
}
a{
  text-decoration: none;
  color: white;
}
.forgotpass, .logreg{
  color: #000;
  font-size: 1.5vw;
}
.logerror{
  height: 25vh;
  width: 18vw;
  border-radius: 30%;
}
.cross{
  background: #8c8c8c;
  height: 20vh;
  color: black;
  width: 30vw;
}
.first{
  width: 100%;
}
.first:before{
  position: relative;
  float: right;
  color: grey;
}
.redfa{
  color: red;
}
@media screen and (max-width: 900px){
  .zindex{
      width: 60%;
      border-radius: 50px;
  }
}