html,body{
  height: 100%;
}
html{
  transition: background 5.1s;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2vw;
  overflow: hidden;
  z-index: 1000;
}
.clair{
  background: url(../img/img_log/106833.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.obscur{
  background: url(../img/img_log/224557.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
}
.labin{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 60vh;
background: transparent;
box-shadow: 0 5px 10px 2px;
width: 25vw;
border-radius: 25px 25px 0 0;
}
.zindex{
width: 33%;
height: 60%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: transparent;
z-index: 2;
}

.zindexbis{
  z-index: 1;
  height: 7vh;
  margin-bottom: 3vh;
}
input{
  border: none;
  background: rgba(255, 255, 255, 0.205);
  height: 5vh;
  width: 17vw;
  position: relative;
  top: 5vh;
  border-radius: 0 20px 0 20px;
  outline: none;
  font-size: 25px;
  text-align: center;
  display: inline-block;
}
.inpdec{
  position: relative;
}
.inpdec i{
  position: absolute;
  left: 1vw;
  top: 6vh;
  font-size: 27px;
  color: black;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
.forgotpass, .logreg{
  color: #000;
  font-size: 1.5vw;
}
.logerror{
  height: 25vh;
  width: 18vw;
  border: rgba(255, 255, 255, 0.116) 10px ridge;
  border-radius: 90% 10%;
animation: bateau ease 7s infinite alternate-reverse ;
}
.logbtn{
  width: 3vw;
  background: white;
  opacity: 0.5;
  border-radius: 5px;
}
.logbtn:hover{
  background: black;
  color: white;
  transition: ease-in-out 1s;
}
::placeholder{
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
@keyframes bateau{
0%{
    translate: 0;
}
40%{
 transform: translateY(10vw) ; 
}
60%{
transform: translateX(10vw) ; 
}

80%{ transform:rotate(45deg);

}
100%{
    transform: translate(150vw) ; 
}
}
.cross{
  background: #8c8c8c;
  border: 5px ridge;
  border-color: white black black white;
  height: 27vh;
  color: black;
  width: 30vw;
}
.first{
  width: 100%;
}
.first:before{
  position: relative;
  float: right;
  top: -40px;
  right: 10px;
  color: rgb(65, 65, 65);
  background: grey;
  border: 2px solid grey;
}
.err{
  height: 5vh;
  font-size: 1em;
  position: relative;
  color: white;
}
.redfa{
  color: white;
  background: red;
  width: 2vw;
  height: auto;
  border-radius: 20px;
}
.noob{
  border: none;
  background: grey;
  border: 3px ridge;
  border-color: white black black white;
  height: 4vh;
}
.success{
  background: transparent;
  box-shadow: 0 10px 10px 0;
}
.box-register{
  font-size: 1em;
  color: white;
}
.dec:hover{
  color: black;
  transition: ease-in-out 1s;
}
.passforgot{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fgtp{
  font-size: 0.7em;
  font-style: italic;
}
/*button*/
.app{
  height: 5vh;
  width: 80vw;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 20%;
  transform: translateY(5%);
}
label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 15.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.dark {
  opacity: .5;
}
.styn{
  color: white;
}
.styl{
  color: black;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #393646;
}


/* inscription_merci */
.insc{
  text-align: center;
  justify-content: center;
  display: flex;
}
.alert_danger{
  color:white;
}

.errmess{
  color: red;
  background: grey;
  opacity: 0.5;
  width: 25vw;
  height: auto;
  text-align: center;
  border-radius: 0 0 15px 15px;
}


/*version portable*/
@media screen and (max-width: 900px){
  .labin{
    width: 70vw;
  }
  .zindex{
      width: 60%;
      border-radius: 50px;
  }
  .box-register{
    font-size: 3em;
  }
  input{
    width: 50vw;
    border-radius: 0 5px 0 5px;
  }
  .logbtn{
    width: 15vw;
  }
  .styn, .styl{
    font-size: 2em;
    width: 2vw;
  }
  .styn{
    color: white;
  }
  .styl{
    color: black;
  }
  .box-register{
    color: white;
  }
  .toggle{
    height: 3.5vh;
  }
  .content{
    width: 47vw;
  }
  label{
    height: 3.5vh;
  }
  .fgtp{
    font-size: 1.5em;
  }
  /*error message*/
  .errmess{
    color: red;
    background: grey;
    opacity: 0.5;
    width: 70vw;
    height: 3vh;
    text-align: center;
    border-radius: 0 0 15px 15px;
    font-size: 2em;
  }
  .errorMessage{
    font-size: 3em;
  }
  .err{
    font-size: 3em;
  }
  .redfa{
    width: 5vw;
  }
  .cross{
    width: 150%;
  }
  .first:before{
    position: relative;
    top: -23px;
  }
  .inpdec i{
    position: absolute;
    top: 5.5vh;
  }
}

