html,body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  overflow: hidden;
  background: url(../img/106830.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1000;
  transition: background 1.1s;
}

*{
margin: 0;
}

.labin{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 60vh;
background: transparent;
box-shadow: 0 5px 10px 2px;
width: 25vw;
}
.zindex{
width: 33%;
height: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: transparent;
width: 30%;
z-index: 2;
}
input{
  border: none;
  background: rgba(129, 129, 129, 0.5);
  height: 5vh;
  width: 17vw;
  position: relative;
  top: 5vh;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  text-align: center;
  display: inline-block;
}
.inpdec{
  position: relative;
}
.inpdec i{
  position: absolute;
  left: 1vw;
  top: 6vh;
  font-size: 27px;
  color: black;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
.forgotpass, .logreg{
  color: #000;
  font-size: 1.5vw;
}
.logerror{
  height: 25vh;
  width: 18vw;
  border: rgba(255, 255, 255, 0.116) 10px ridge;
  border-radius: 90% 10%;
animation: bateau ease 7s infinite alternate-reverse ;
}
.logbtn{
  width: 5vw;
  position: relative;
  float: right;
  background: white;
  opacity: 0.5;
}
::placeholder{
  color: black;
  opacity: 0.5;
}
@keyframes bateau{
0%{
    translate: 0;
}
40%{
 transform: translateY(10vw) ; 
}
60%{
transform: translateX(10vw) ; 
}

80%{ transform:rotate(45deg);

}
100%{
    transform: translate(150vw) ; 
}
}
.cross{
  background: #8c8c8c;
  border: 5px ridge;
  border-color: white black black white;
  height: 27vh;
  color: black;
  width: 30vw;
}
.first{
  width: 100%;
}
.first:before{
  position: relative;
  float: right;
  top: -40px;
  right: 10px;
  color: rgb(65, 65, 65);
  background: grey;
  border: 2px solid grey;
}
.err{
  height: 5vh;
  font-size: 1em;
  position: relative;
  color: white;
}
.redfa{
  color: white;
  background: red;
  width: 2vw;
  height: auto;
  border-radius: 20px;
}
.noob{
  border: none;
  background: grey;
  border: 3px ridge;
  border-color: white black black white;
  height: 4vh;
}
.success{
  background: transparent;
  box-shadow: 0 10px 10px 0;
}
.box-register{
  font-size: 1em;
}

/*button*/
.app{
  height: 5vh;
}
.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 20%;
  transform: translateY(5%);
}
label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  margin: 1.8rem 0 4rem 0; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.dark {
  opacity: .5;
}

[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
[type="checkbox"]:checked + .app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
}

@media screen and (max-width: 900px){
  .labin{
    width: 70vw;
  }
  .zindex{
      width: 60%;
      border-radius: 50px;
  }
  .box-register{
    font-size: 3em;
  }
  input{
    width: 50vw;
  }
  .logbtn{
    width: 15vw;
  }
  .styn, .styl{
    font-size: 3em;
  }

}