
@media screen  and (max-width: 700px){
    .containere, .av{
        display: none;
    }
    .ttl, .ttl2{
        font-size: 1em;
        text-align: center;
        margin-bottom: 3vh;
    }
    #pic_1, #pic_2{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .pop, .popnd, .poprd, .popth, .popfi, .pop2, .popnd2, .poprd2, .popth2, .popfi2{
        visibility: visible;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 10px;
        margin: 2px;
        width: 90%;
        height: 20vh;
        overflow: auto;
        box-shadow: 0 5px 10px 2px;
        /*display: none;*/
    }
    /*.popmq{
        visibility: visible;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 10px;
        margin: 2px;
        width: 90%;
        box-shadow: 0 5px 10px 2px;*/
    
}
