body{
  background: black;
  height: 2000px;
}

.disp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 3em;
}
p{
  color: white;
  font-size: 2em;
}
/*
#animscroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#line{
  height: 25vh;
  width: 2px;
  background-color: white;
}*/


h3{
  color: white;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200vh;
  z-index: 1;
}
.a{
  justify-self: end;
}
canvas{
  z-index: 1000;
  
}
