body{
  background: black;
  height: 2000px;
}

.disp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 3em;
}
p{
  color: white;
  font-size: 2em;
}
/*
#animscroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
#line{
  height: 20vh;
  width: 2px;
  background-color: white;
  z-index: 1;
}
/*
h1{
  color: white;
  position: relative;
  top: -200vh;
}
*/
h3{
  color: white;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200vh;
  z-index: 2;
  position: relative;
  top: -165vh;
}

.w{
  align-self: flex-start;
  position: relative;
  left: -10vw;
}
.a{
  align-self: flex-end;
  position: relative;
  right: 0vw;
  opacity: 0;
}
.t{
  position: relative;
  left: -55vw;
}
.canva{
  z-index: 1000;
  
}
.canva2{
  z-index: 1000;
}
