*{
    margin: 0;
    padding: 0%;
    list-style: none;
}
.contien{
    height: 100vh;
    width: 100%;
    background-image: url(../img/imagepersosnage/wallpaper_middle_earth_shadow_of_war_06_1920x1080.jpg);
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
}
.menup{
    display: flex;
    width: 20%;
    align-items: center;
    margin: 10px 0px 10px 20px;
}
.persos{
    border: 2px solid white;
    width: 20%;
    height: 90px;
    align-items: center;
    width: 380px;
    display: flex;
    background-color: #334e6965;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}
.persos:hover{
    border: 2px solid white;
    box-shadow: 0px 0px 10px white, inset 0px 0px 10px white ;
}
.persos .left{
    height: 100%;
    width: 90px;
    background-color: rgb(0, 0, 0);
}

.menup:nth-child(1) .persos .left{
  
    background-image: url(../img/imagepersosnage/pikatchu.png);
    background-size: cover;
}
.menup:nth-child(2) .persos .left{
  
    background-image: url(../img/img_index/squeleton.left.png);
    background-size: contain;
}
.menup:nth-child(3) .persos .left{
  
    background-image: url(../img/img_log/robotdeux.png);
    background-size: cover;
}
.menup:nth-child(4) .persos .left{
  
    background-image: url(../img/img_log/darkvador.jpg);
    background-size: cover;
}
.persos .right h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 20px;
}
.perso-back{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 20%;

}
.perso-back img{
  display: none;

}
.active .perso-back img{
    display: flex;
}