body{
  background: black;
  height: 2000px;
}
/*
.disp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 3em;
}
p{
  color: white;
  font-size: 2em;
}
#animscroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#line{
  height: 25vh;
  width: 2px;
  background-color: white;
}*/

#star-svg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
}