*{
    margin: 0;
    padding: 0%;
    list-style: none;
    overflow-x: hidden;
}
  section{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url(../img/imgbg/1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-duration: 40s ;
    animation-name: slidein ;
  }
  @keyframes slidein {
    from {
  
      width: 100%;
      height: 100%;

    }20% {
        width:107%;
        height: 105%;
    }
  
    80% {
        
      width: 100%;
      height: 100%;
    }
  
  
    to {
      margin-left: 0%;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes slide {
    from {
      margin-left: 100%;
      width: 100%;
    }
    75% {
       
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
     
    }
  }
  
.contien{
  animation-duration: 5s;
    animation-name: slide;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
}
.menup{
    display: flex;
    width: 20%;
    align-items: center;
    margin: 10px 0px 10px 20px;
}
.persos{
    border: 2px solid white;
    width: 20%;
    height: 90px;
    align-items: center;
    width: 380px;
    display: flex;
    background-color: #334e6965;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}
.persos:hover{
    border: 2px solid white;
    box-shadow: 0px 0px 10px white, inset 0px 0px 10px white ;
}
.persos .left{
    height: 100%;
    width: 90px;
    background-color: rgb(0, 0, 0);
}

.menup:nth-child(1) .persos .left{
  
    background-image: url(../img/imagepersosnage/pikathor.png);
    background-size: cover;
}
.menup:nth-child(2) .persos .left{
  
    background-image: url(../img/imagepersosnage/perspider.png);
    background-size: cover;
}
.menup:nth-child(3) .persos .left{
  
    background-image: url(../img/imagepersosnage/tank.png);
    background-size: cover;
    
}

.menup:nth-child(4) .persos .left{
  
    background-image: url(../img/imagepersosnage/classe.png);
    background-size: cover;
}

.persos .right h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 20px;
}
.perso-back{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 40%;
    
}

.perso-back img{
  display: none;

}
.perso-back img:active{
    border: 2px solid white;
    box-shadow: 0px 0px 10px white, inset 0px 0px 10px white ;
}
.active .perso-back img{
    display: flex;
  
}
.deco{
  display: flex;
  margin-top: 10vh;
  margin-right: 2vh;
}
.deco a{
  list-style: none;
  color: red;
}

.choix ul{
 display: flex;
  margin: 3vh;
  
}
.choix h1{
  margin: 2vh;
}
footer{
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
  flex-direction: row;
}