/*
html, body{
  background: black;
  height: 300vh;
}

.disp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 3em;
}
p{
  color: white;
  font-size: 2em;
}

#animscroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#line{
  height: 20vh;
  width: 2px;
  background-color: white;
  z-index: 1;
}

h1{
  color: white;
  position: relative;
  top: -200vh;
}

h3{
  color: white;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200vh;
  z-index: 1;
  position: absolute;
  top: 95vh;
}
article .draw{
  z-index: 1000;
}
button{
  z-index: 1;
  position: relative;
  left: 50%;
}
.a{
  align-self: flex-end;
}
*/

body{
  background: black;
}
  
h1{
  color: white;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 25px 15px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

button{
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: white;
  color: red;
  font-size: 2em;
  border-radius: 20px;
  height: 5vh;
  width: 10vw;
  position: relative;
  left: 45vw;
  margin-bottom: 5vh;
  transition: .3s ease-in-out;
  transition-delay: .35s;
  overflow: hidden;
}
button:before{
content: '';
display: block;
position: absolute;
width: 200%;
height: 500%;
border-radius: 100%;
transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
}
button:hover .text{
color: white;
}

button:hover{
color: transparent;
}
.text{
  color: red;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline;
  height: auto;
  font-size: 1.7rem;
  font-size: 700;
  transition: .25s ease-in;
  transition-delay: .1s;
}
.btn::before{
  transform: translate(-110%, -110%) translateZ(0);
  color: red;
  background-color: white;
}
.btn:hover::before{
  transform: translate(-45%, -34%) translateZ(0);
  color: white;
  background-color: red;
}
