/*
html, body{
  background: black;
  height: 300vh;
}

.disp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 3em;
}
p{
  color: white;
  font-size: 2em;
}

#animscroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#line{
  height: 20vh;
  width: 2px;
  background-color: white;
  z-index: 1;
}

h1{
  color: white;
  position: relative;
  top: -200vh;
}

h3{
  color: white;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200vh;
  z-index: 1;
  position: absolute;
  top: 95vh;
}
article .draw{
  z-index: 1000;
}
button{
  z-index: 1;
  position: relative;
  left: 50%;
}
.a{
  align-self: flex-end;
}
*/

body{
  background: black;
}
  
h1{
  color: white;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 25px 15px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.btn{
  padding: 2rem 7rem;
  background: white;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  will-change: transform;
}
button{
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
button:before{
  transform: translate(-110%,-110%) translateZ(0);
}

button:hover:before{
  transform: translate(-45%,-34%) translateZ(0);
}
    