* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.671);
  filter: brightness(100%);
}

h1 {
  font-size: 1.5em;
}

header {
  width: 100%;
}
.loupe {
  width: 100%;
  height: 100%;
}

/**TITRE nainventura**/
.titree {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: 'Marck Script', cursive;
  text-shadow: 5px 5px 15px;
}

.r {
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.n:hover {
  color: blue;
}

.a:hover {
  transform: scale(0.7);
}

.i:hover {
  transform: rotate(45deg);
}

.v:active {
  transform: translate(100px, 200px);
}

.e:active:hover {
  color: red;
  transform: translateX(13px) translateY(27.5px);
}

.t:active {
  display: none;
}

.u:active {
  border-bottom: rgb(255, 0, 0) 0.1px solid;
}

.r:hover {
  color: #FFCCCC;
  width: 20px;
  height: 20px;
  transform: rotate(360deg);
}

/**Bouton et menu**/
.menu {
  margin-top: 5px;
  position: relative;
  top: 30vh;
  left: 10vh;
  width: 150px;
  height: 150px;
  align-items: center;
}

.menu img:hover {
  border-radius: 10%;
  border: inset 1px black;
  background-color: rgba(255, 255, 255, 0.986);
}

.menu li {
  opacity: 0;
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 200px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--1i));
  transform: rotate(0deg) translateX(130px) translateY(27.5px);
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
  opacity: 1;
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(calc(360deg / 8 * var(--i)));
  transition: 0.5s;
}

.menu li a:hover {
  color: red;
}

.toggle img {
  height: 15vh;
  width: 10vw;
  position: relative;
  transition: 1.2s;
  box-shadow: 5px 5px 15px;
  
}

.toggle {
  margin-left: 10vh;
  margin-top: 10vh;
  height: 1vh;
  width: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 20px;
  cursor: pointer;

  transition: transform 1.25s;
  background-color: rgba(240, 248, 255, 0.925);
}

.toggle :hover {
  border-radius: 30%;
}

/**FIN Bouton et menu**/
/** à partir du titre selectionner et l'image homme/femme  apparition du menu côté gauche à la même hauteur*/
.selectionner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.selectionner h1 {
  color: white;
  background: transparent;
  border-bottom: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2vh;
  letter-spacing: 5px;
}

.selectionner a {
  list-style: none;
  color: white;
  margin: 2px;
}

.tout {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

a,
::before,
::after,
img {
  transition: all .3s ease;
  transition-duration: 0.3s;
}

.tout img {
  display: flex;
}

.suivant {
  display: none;
}

.suivant img {
  display: block;
  width: 100%;
}

.suivant img:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
  border: inset 3px rgb(0, 0, 0);
}

.avant,
.apres {
  cursor: pointer;
  width: auto;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.863);
}

.apres {
  border-radius: 30%;
}

.avant:hover,
.apres:hover {
  background-color: rgba(255, 0, 0, 0.3);
  text-shadow: cadetblue;
  box-shadow: 0px 0px 10px rgb(0, 0, 0), inset 0px 0px 10px rgb(0, 0, 0);
}

.next {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5vh;
}

.next .avant .apres p {
  list-style: none;
  color: white;
}

.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.container a {
  margin: 5px;
  text-decoration: none;
}

.container a p {
  color: black;
}

/** connexion page admin**/
.formp {
  text-align: center;
  justify-content: center;
  display: flex;
}

/**BANDEAU publicité**/
.publicite {
  display: flex;
  height: 15vh;
  border: 1px ridge rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
}

.publicite p:active {
  border-radius: 30%;
  border: inset 1px black;
}

@media only screen and (max-width: 1855px) {
  body {
    justify-content: center;
    align-items: center;
  }

  .toggle {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.671);
    margin-left: 4vh;
    margin-top: 0vh;
    height: 1vh;
    width: 1vw;
  }

  .toggle img {
    height: 7vh;
    width: 14vw;
  }

  .menu {
    top: 17vh;
    left: 10vh;
    width: 100px;
    height: 250px;
    justify-content: center;
    align-items: center;
  }

  .menu img {
    height: 7vh;
    width: 7vh;
    border: 1px rgba(255, 255, 255, 0.267) ridge;
    border-radius: 10px;
  }

  .menu img:hover {
    border-radius: 30%;
    border: inset 1px black;
    background-color: rgb(255, 255, 255);
  }

  .menu li {
    opacity: 0;
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 120px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--1i));
    transform: rotate(0deg) translateX(50px) translateY(10.5px);
  }

  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
    opacity: 1;
  }

  .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(360deg / 8 * var(--i)));
    transition: 0.5s;
  }
}
.welcome, .suite{
  color: white;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.popi {
  color: rgb(47, 119, 47);
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border: 10px;
  box-shadow: 5px 5px 15px gray;
}
.lierre{
  transform: rotate(180deg);
}
