/*Variable*/


/*Mixin*/
@mixin back {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@mixin disp3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin disp2 {
    display: flex;
    align-items: center;
}

