@media screen and (max-width: 900px){
    form{
   
        justify-content: center;
 
        margin-top: 25%;
    }
    .texte{
        height: 3vh;
        width: 30vw;
    }
    .submite{
        height: 3vh;
        width: 15vw;
    }
    .namee{
        height: 20vh;
        width: 50vw;
    }
    }